-
    const itemsGoods = [
        {
            img: 'gray',
            title: 'Плитка фасадная под кирпич /8 A D W Klinker Crimea Ai-Petri',
            color: 'Серый',
            price: '650'
        },
        {
            img: 'red',
            title: 'Плитка фасадная под кирпич /8 A D W Klinker Crimea Livadia',
            color: 'Серый',
            price: '750'
        },
        {
            img: 'brown',
            title: 'Плитка фасадная под кирпич /8 A D W Klinker Crimea Feodosia',
            color: 'Серый',
            price: '750'
        }
    ]

    const itemsSuppliers = [
        {
            img: 'sss',
            country: {
                code: 'ru',
                city: 'Москва' 
            },
            title: 'ООО "СтройСнабСервис"',
            approved: true,
            rating: 4.5,
            descr: 'У нас Вы сможете заказать все строительные и отделочные материалы, а также электроинструмент, инструмент и расходные материалы для работы по ценам производителей и все в одном месте с доставкой в день обращения!',
            cats: ['Сухие смеси', 'Утеплители', 'Лаки, краски и оборудование для покраски'],
            goods: 325
        },
        {
            img: 'vrb',
            country: {
                code: 'vn',
                city: 'Вьетнам'
            },
            title: 'Viet Nam - Russia Joint Venture Bank',
            rating: 4,
            cats: ['Сухие смеси', 'Утеплители', 'Лаки, краски и оборудование для покраски'],
            goods: 355
        },
        {
            img: 'volgaprom',
            country: {
                code: 'ru',
                city: 'Казань'
            },
            title: 'ООО "ВолгаПром"',
            approved: true,
            rating: 5,
            descr: 'Оптовая продажа полиэтиленовых труб и фасонных изделий для водоснабжения, канализации и газоснабжения',
            cats: ['Трубы', 'Трубы и фитинги', 'Водопроводное оборудование и материалы'],
            goods: 123
        },
        {
            img: 'itk',
            country: {
                code: 'ru',
                city: 'Казань'
            },
            title: 'ООО ИТК',
            rating: 5,
            goods: 13
        }
    ]

section.catalog
    ul#catalogTabs.catalog_tabs(data-tabs data-deep-link="true" data-link-active-class="is_active" data-panel-active-class="is_active" data-link-class="catalog_tab" data-panel-class="catalog_content")
        li.catalog_tab.is_active
            a.catalog_tab_link(href="#catalogGoods" aria-selected="true")
                | Товары
        li.catalog_tab
            a.catalog_tab_link(href="#catalogSuppliers" data-tabs-target="catalogSuppliers")
                | Поставщики
    .catalog_tab_content(data-tabs-content="catalogTabs")
        #catalogGoods.catalog_content.is_active
            #itemsLeft.catalog_left
                +menu([
                    {
                        icon: ['startup', [20, 20]],
                        title: 'Авиация и космос'
                    },
                    {
                        icon: ['car', [28, 11]],
                        title: 'Автомобили'
                    },
                    {
                        icon: ['resort', [20, 21]],
                        title: 'Гостиницы и рестораны',
                    },
                    {
                        icon: ['pickaxe', [23, 22]],
                        title: 'Добыча полезных ископаемых и бурение'
                    },
                    {
                        icon: ['home', [20, 20]],
                        title: 'Дом, сад и предметы быта'
                    },
                    {
                        icon: ['password', [20, 23]],
                        title: 'Защита и безопасность'
                    },
                    {
                        icon: ['cream', [24, 23]],
                        title: 'Здоровье и красота'
                    },
                    {
                        icon: ['nails', [23, 25]],
                        title: 'Металлы'
                    },
                    {
                        icon: ['shirt', [22, 19]],
                        title: 'Одежда, обувь, текстиль и кожа'
                    },
                    {
                        icon: ['handshake', [26, 16]],
                        title: 'Организация работы бизнеса'
                    },
                    {
                        icon: ['fruits', [27, 22]],
                        title: 'Продукты питания и напитки'
                    },
                    {
                        icon: ['bowling', [22, 22]],
                        title: 'Развлечения и досуг'
                    },
                    {
                        icon: ['logs', [23, 22]],
                        title: 'Сельское хозяйство и лесоводство'
                    },
                    {
                        icon: ['triangle', [23, 22]],
                        title: 'Строительство',
                    },
                    {
                        icon: ['web', [19, 18]],
                        title: 'Телекоммуникации и IT'
                    },
                    {
                        icon: ['truck', [25, 16]],
                        title: 'Транспортировка и грузоперевозки'
                    },
                    {
                        icon: ['box', [20, 20]],
                        title: 'Упаковка и хранение'
                    },
                    {
                        icon: ['flask', [14, 20]],
                        title: 'Химия'
                    },
                    {
                        icon: ['coffee', [16, 22]],
                        title: 'Электротехника и электроника'
                    },
                    {
                        icon: ['city_hall', [22, 23]],
                        title: 'Социальная сфера, образование'
                    },
                    {
                        icon: ['battery', [25, 21]],
                        title: 'Другие'
                    },
                    {
                        icon: ['diesel', [16, 22]],
                        title: 'Нефтепродукты/топливо'
                    },
                    {
                        icon: ['pizza', [23, 19]],
                        title: 'Услуги'
                    },
                    {
                        icon: ['pacifier', [19, 18]],
                        title: 'Детские товары'
                    },
                    {
                        icon: ['ribbon', [21, 19]],
                        title: 'Аксессуары'
                    }
                ], true)(class="vertical menu--items")
            .catalog_items
                +filters('top', 'itemsLeft')
                each item in itemsGoods
                    each item in itemsGoods
                        .catalog_item
                            .catalog_item_img
                                img(srcset=`./assets/img/items/${item.img}@2x.jpg 2x, ./assets/img/items/${item.img}.jpg 1x` src=`./assets/img/items/${item.img}.jpg`, alt=item.title)
                            .catalog_item_info
                                a.catalog_item_header(href="/item.html")
                                    =item.title
                                ul.catalog_item_params
                                    li
                                        span Цвет:
                                        | 
                                        =item.color
                                    li
                                        span Размер:
                                        | 
                                        | 240х71
                            .catalog_item_buy
                                .catalog_item_price
                                    =item.price
                                    | 
                                    | ₽
                                button.button.hollow
                                    | В корзину
                +filters()(class="catalog_items_filters--bottom")

                #catalogCats.catalog_menu(data-dropdown data-hover="true" data-hover-pane="true" data-hover-delay="0" data-parent-class="catalog_items")
                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Оборудование для ванных комнат
                        ul.catalog_menu_list
                            li
                                a(href="#") Диспансеры
                            li
                                a(href="#") Зеркала косметические
                            li
                                a(href="#") Фены для гостиниц

                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Баки, контейнеры, урны, пепельницы
                        ul.catalog_menu_list
                            li
                                a(href="#") Ведра, урны для мусора и бумаг

                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Мебель для гостиниц и ресторанов
                        ul.catalog_menu_list
                            li
                                a(href="#") Стулья и столы для отелей и ресторанов

                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Оборудование для кухни
                        ul.catalog_menu_list
                            li
                                a(href="#") Винные шкафы, холодильники для вина
                            li
                                a(href="#") Ножи и ножницы
                            li
                                a(href="#") Кухонный инвентарь
                            li
                                a(href="#") Кондитерский инвентарь
                        
                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Информационные стойки, таблички, указатели
                        ul.catalog_menu_list
                            li
                                a(href="#") Настольные, информационные и фасадные указатели 
                            li
                                a(href="#") Номерки, шильдики и брелоки для гостиницы

                    .catalog_menu_item
                        a.catalog_menu_header(href="#")
                            | Системы хранения
                        ul.catalog_menu_list
                            li
                                a(href="#") Гостиничные сейфы
                            li
                                a(href="#") Хранение одежды и обуви

        #catalogSuppliers.catalog_content
            #filtersLeft.catalog_left.catalog_left--filters
                form.catalog_filters
                    p.catalog_filters_header
                        | Фильтр
                    ul.accordion-menu.catalog_filters_accordion(data-accordion-menu='')
                        li
                            a.catalog_filters_accordion-item(href='#') Тип поставщика
                            ul.catalog_filters_accordion-content.is-active
                                li
                                    +selection('checkbox', 'kind[]', 'fManufacturer', 'Производитель', true)
                                li
                                    +selection('checkbox', 'kind[]', 'fWholesaler', 'Оптовик')
                                li
                                    +selection('checkbox', 'kind[]', 'fRetail', 'Розничный магазин')
                                li
                                    +selection('checkbox', 'kind[]', 'fOnline ', 'Онлайн магазин')
                                
                        li
                            a.catalog_filters_accordion-item(href='#') Страна
                            ul.catalog_filters_accordion-content
                                li
                                    +selection('checkbox', 'country[]', 'fRussia', 'Россия')
                                li
                                    +selection('checkbox', 'country[]', 'fRussia1', 'Россия')
                                li
                                    +selection('checkbox', 'country[]', 'fRussia2', 'Россия')
                        li
                            a.catalog_filters_accordion-item(href='#') Город
                            ul.catalog_filters_accordion-content
                                li
                                    +selection('checkbox', 'city[]', 'fCity', 'Город')
                                li
                                    +selection('checkbox', 'city[]', 'fCity1', 'Город')
                                li
                                    +selection('checkbox', 'city[]', 'fCity2', 'Город')
                        li
                            a.catalog_filters_accordion-item(href='#') Город присутствия
                            ul.catalog_filters_accordion-content
                                li
                                    +selection('checkbox', 'presence_city[]', 'fCity3', 'Город присутствия')
                                li
                                    +selection('checkbox', 'presence_city[]', 'fCity4', 'Город присутствия')
                                li
                                    +selection('checkbox', 'presence_city[]', 'fCity5', 'Город присутствия')
                        li
                            a.catalog_filters_accordion-item(href='#') Категории
                            ul.catalog_filters_accordion-content
                                li
                                    +selection('checkbox', 'category[]', 'fCat', 'Категория')
                                li
                                    +selection('checkbox', 'category[]', 'fCat1', 'Категория')
                                li
                                    +selection('checkbox', 'category[]', 'fCat2', 'Категория')
                    .catalog_filters_buttons
                        button.button
                            | Применить
                        button.button.hollow(type="reset")
                            | Очистить
                    

            .catalog_items
                +filters('top', 'filtersLeft')
                each _ in Array(2)
                    each item in itemsSuppliers
                        .catalog_item.catalog_item--suppliers
                            .catalog_item_left
                                .catalog_item_img  
                                    img(srcset=`./assets/img/suppliers/${item.img}@2x.jpg 2x, ./assets/img/suppliers/${item.img}.jpg 1x` src=`./assets/img/suppliers/${item.img}.jpg`, alt=item.title)
                                .catalog_item_country
                                    span.flag-icon(class=`flag-icon-${item.country.code}`)
                                    =item.country.city
                            .catalog_item_info
                                a.catalog_item_header(href="./supplier.html")
                                    =item.title 
                                    if item.approved
                                        span.catalog_item_approved
                                            +icon('check', [14, 11])
                                +rating(item.rating)
                                if item.descr
                                    p.catalog_item_descr
                                        =item.descr
                                if item.cats
                                    ul.catalog_item_cats
                                        each cat in item.cats
                                            li
                                                a(href="#")
                                                    =cat
                            .catalog_item_right
                                a.catalog_item_link(href="#")
                                    span.catalog_item_link-icon   
                                        +icon('envelope', [21, 16])
                                    | Связаться
                                a.catalog_item_link(href="#")
                                    span.catalog_item_link-icon   
                                        +icon('package', [20, 20])
                                    =item.goods
                                    | 
                                    | товаров
                +filters()(class="catalog_items_filters--bottom")